/* колір основного тексту #212121 */
/* колір абзаців та пвдписів #757575 */
/* колір акцент #2196F3 */
/* другорядний колір rgba(255, 255, 255, 0.6) */
/* <style> */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --footer-background-color: #2f303a;
  --accent-color: #2196f3;
  --secondary-text-color: rgba(255, 255, 255, 0.6);
  --background-white-color: #ffffff;
  --team-section-color: #f5f4fa;
  --studio-color: #000;
  --icon-color: #afb1b8;
}

body {
  font-family: "Roboto", "sans-serif";
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

.list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}


.current {
  color: var(--accent-color);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* -----------HEADER-------------*/

.header__container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ececec;
}

.nav {
  display: flex;
}

.nav__logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
  display: block;
  color: var(--accent-color);
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}


.nav__studio {
  color: var(--studio-color);
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.nav__link{
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.nav__list {
  display: flex;
  margin: 0;
  padding: 0;
}

.nav__item {
  margin-right: 50px;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__link{
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover,
.nav__link:focus,
.nav__link--active {
  color: var(--accent-color);
}

.nav__link--active::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -3px;
  margin-top: 28px;
  padding-bottom: 0;
  width: 100%;
  height: 4px;
  background: var(--accent-color);
  border-radius: 4px;
}

.nav-link.current {
  color: var(--accent-color);
}

.contacts-link a {
  transition-property: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list a:hover {
  color: var(--accent-color);
  fill: currentColor;
}
.contacts-link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 0;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  fill: var(--primary-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover,
.contacts-link:focus {
  fill: var(--accent-color);
  color: currentColor;
}

.contacts-list {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.contacts-list .item+.item {
  margin-left: 50px;
}

.icon {
  margin-right: 10px;
}

/* __________HEADER____________*/

/* ----------HERO------------- */

.section {
  padding: 94px 0;
}

.hero {
  background-color: var(--footer-background-color);
  color: var(--team-section-color);
  padding-top: 200px;
  padding-bottom: 200px;
  margin-bottom: 0px;
  text-align: center;
}

.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)),
    url(../images/heroimg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  color: var(--background-white-color);
  background: none;
}

.hero-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  background-color: var(--accent-color);
  color: var(--background-white-color);
  margin: 0 auto;
  border-radius: 4px;
  padding-top: 10px;
  padding-left: 32px;
  padding-bottom: 10px;
  padding-right: 32px;
  display: block;
  border: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color, box-shadow;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0.5;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  padding: 40px;
  background-color: var(--background-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color: transparent;
}

.icone-close {
  width: 11px;
  height: 11px;
}

.btn-close:hover,
.btn-close:focus {
  fill: var(--accent-color);
}

.modal-title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-input {
  display: block;
  width: 100%;
  height: 40px;
  margin-top: 4px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-field {
  display: inline-block;
  position: relative;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  text-align: left;
}

.modal-form-input:hover,
.modal-form-input:focus {
  border: 1px solid var(--accent-color);
}

.modal-form-input:hover+.modal-form-icons,
.modal-form-input:focus+.modal-form-icons {
  fill: var(--accent-color);
}

.modal-form-icons {
  position: absolute;
  bottom: 11px;
  left: 15px;
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-text {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-text ::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-text:hover,
.modal-form-text:focus {
  border: 1px solid var(--accent-color);
}

.modal-form-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-text-color);
}

.modal-form-checkbox a {
  color: var(--accent-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-left: 5px;
}

.modal-form-check {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal-check {
  display: inline-block;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 3px solid var(--title-text-color);
  border-radius: 2px;
}

.modal-form-check:checked+.modal-check {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  background-image: url("../images/icon-check.svg");
  background-size: contain;
  background-origin: border-box;
}

.modal-form-check:focus+.modal-check {
  border-color: var(--accent-color);
}

.form-button {
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--background-white-color);
  padding: 10px 32px;
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  border: none;
}

/* ----------HERO------------- */

/* ----------SKILLS------------- */
.skills-about {
  padding-bottom: 0px;
}

.skills-about h2 {
  display: none;
}

.skills {
  display: flex;
}

.skilling {
  width: 270px;
}

.skilling:not(:last-child) {
  margin-right: 30px;
}

.skill-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  width: 270px;
  background-color: var(--team-section-color);
  margin-bottom: 30px;
}

.icon-skill {
  width: 70px;
  height: 70px;

}

.title-skill {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-bottom: 0px;
}

.text-skill {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-top: 10px;
}

/* ----------SKILLS------------- */

/* ---------IMAGES-ABOUT-------------- */

.about {
  display: flex;
  position: relative;
  z-index: -1;
}

.about.item-card:not(:last-child) {
  margin-right: 30px;
}

.item-card:not(:last-child) {
  margin-right: 30px;
}

.caption {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 50px;
}


/* ---------IMAGES-ABOUT-------------- */

/* ---------IMAGES-TEAM-------------- */
.team {
  background-color: var(--team-section-color);
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 30px;
}

.social li {
  margin-right: 10px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--icon-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color, background-color;
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.social-link:hover,
.social-link:focus {
  color: var(--team-section-color);
  background-color: var(--accent-color);

}

img {
  display: block;
}

.person-card {
  display: flex;
}

.person-card .team-card:not(:last-child) {
  margin-right: 30px;
}

.team-card {
  background-color: var(--background-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

}

.person-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-align: center;
  padding-top: 30px;
}

.profession {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  text-align: center;
  margin-top: 10px;
}

/* PORTFOLIO*/

/*---------BTN-FILTER----------*/


.btn-filter {
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  margin-bottom: 50px;
}

.button-filter {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  background: var(--team-section-color);
  border-radius: 4px;
  cursor: pointer;
  border: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color, color, box-shadow;
}

.item-btn .active-btn {
  color: var(--background-white-color);
  background-color: var(--accent-color);
}

.button-filter:hover {
  background-color: var(--accent-color);
  color: var(--background-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);

}

.btn-filter .item-btn:not(:last-child) {
  margin-right: 8px;
}

/*---------BTN-FILTER----------*/

.introduction h2 {
  display: none;
}

/*---------IMG-NINE----------*/

.container-nine {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.nine-card:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);

}

.about-nine {
  display: flex;
  flex-wrap: wrap;
}

.flex-img-nine {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
}

.nine-card {
  margin-right: 30px;
  margin-bottom: 30px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: box-shadow;
}

.nine-card:nth-child(3n) {
  margin-right: 0px;
}

.nine-card:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.flex-img-nine .intro-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.flex-img-nine .intro-subtitle {
  font-size: 16px;
  line-height: 1.87;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: inherit;
  margin-top: 4px;
}

.box {
  position: relative;
  width: 370px;
  overflow: hidden;
}

.nine-card:hover .overlay-nine {
  transform: translatey(0);
}

.overlay-nine {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translatey(100%);
  transition: transform 250ms ease;
}

.overlay-nine>p {
  color: var(--background-white-color);
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;

}

/*------PARTNERS------*/

.partners {
  padding: 94px 0;
}

.company {
  display: flex;
  align-items: center;
  justify-content: center;
}

.company li {
  margin-right: 30px;
}

.company-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  color: var(--icon-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color, border-color;
}

.company li:last-child {
  margin-right: 0;
}

.company-icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.company-link:hover,
.company-link:focus {
  color: var(--accent-color);
  border-color: 1px solid var(--accent-color);

}

/* Footer*/

.footer {
  background-color: var(--footer-background-color);
  padding: 60px 0px;
}

.footer-container .logo {
  display: block;
}

.footer-studio {
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  color: var(--background-white-color);
}

.adress-footer {
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: var(--background-white-color);
  display: inherit;
  margin-top: 20px;
}

.info-footer {
  margin-top: 9px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: color;
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.mail-footer {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.tel-footer {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);

}

.mail-footer:hover,
.mail-footer:focus {
  color: var(--accent-color);
}

.tel-footer:hover,
.tel-footer:focus {
  color: var(--accent-color);
}

.footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--background-white-color);
}

.social-footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  margin-right: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
}

.social-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}

.social-icon-footer {
  width: 20px;
  height: 20px;
  fill: var(--background-white-color);
}

.social-footer-link:hover,
.social-footer-link:focus {
  background-color: var(--accent-color);
}

.footer-container {
  display: flex;
}

.foter-our-contasts {
  padding-top: 12px;
  margin-left: 70px;
}

.footer-sigin {
  justify-content: center;
  padding-top: 12px;
  margin-left: 70px;
}

.sigin-title {
  display: block;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--background-white-color);
}

.sigin-button {
  font-weight: 500;
  font-size: 16px;
  width: 200px;
  height: 50px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--background-white-color);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  padding-right: 62px;
  background: var(--accent-color);
  border-radius: 4px;
  cursor: pointer;
  border: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color, color, box-shadow;
}

.form-name {
  width: 358px;
  height: 50px;
  margin-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  padding-right: 295px;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.icon-telegram {
  height: 24px;
  width: 24px;
  position: absolute;
  margin-left: 10px;
}